# Lab | Data Structuring and Combining Data

## Challenge 1: Combining & Cleaning Data

In this challenge, we will be working with the customer data from an insurance company, as we did in the two previous labs. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

But this time, we got new data, which can be found in the following 2 CSV files located at the links below.

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv

Note that you'll need to clean and format the new data.

Observation:
- One option is to first combine the three datasets and then apply the cleaning function to the new combined dataset
- Another option would be to read the clean file you saved in the previous lab, and just clean the two new files and concatenate the three clean datasets

In [33]:
import pandas as pd

url1 = '/Users/houleyeanne/Documents/GitHub/WEEK2/lab-dw-data-cleaning-and-formatting/df_unique_single_col.csv'
url2 = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv'
url3 = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv'

df1 = pd.read_csv(url1)
df2 = pd.read_csv(url2)
df3 = pd.read_csv(url3)

 ## df2 cleaning

In [115]:
df2.head()
df2.info()
df2.isna().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 996 entries, 0 to 995
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Customer                   996 non-null    object
 1   state                      996 non-null    object
 2   GENDER                     991 non-null    object
 3   Education                  996 non-null    object
 4   Customer Lifetime Value    992 non-null    object
 5   Income                     996 non-null    int64
 6   Monthly Premium Auto       996 non-null    int64
 7   Number of Open Complaints  996 non-null    object
 8   Total Claim Amount         996 non-null    float64
 9   Policy Type                996 non-null    object
 10  Vehicle Class              996 non-null    object
dtypes: float64(1), int64(2), object(8)
memory usage: 85.7+ KB

Customer                     0
state                        0
GENDER                       5
Education                    0
Customer Lifetime Value      4
Income                       0
Monthly Premium Auto         0
Number of Open Complaints    0
Total Claim Amount           0
Policy Type                  0
Vehicle Class                0
dtype: int64

- Cleaning the gender

In [116]:
data = {
    'GENDER': ['F', 'M', 'Femal', 'Male', 'female'],
    # Add other columns like 'State', 'Education', 'Customer Lifetime Value', 'Vehicle Class' for demonstration
}
df_gender = pd.DataFrame(data)

# Standardizing Gender values
df2['GENDER'] = df2['GENDER'].replace(['Femal', 'female'], 'F').replace(['Male'], 'M')

- Cleaning the state

In [117]:
df2.rename(columns= {'ST': 'state'}, inplace=True)
print(df2.columns)

Index(['Customer', 'state', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Total Claim Amount', 'Policy Type', 'Vehicle Class'],
      dtype='object')

In [118]:
df2_renamed = df2.rename(columns={ col: col.replace(" ","_").lower() for col in df2.columns })

In [119]:
df2_renamed.head()

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,total_claim_amount,policy_type,vehicle_class
0,GS98873,Arizona,F,Bachelor,323912.47%,16061,88,1/0/00,633.6,Personal Auto,Four-Door Car
1,CW49887,California,F,Master,462680.11%,79487,114,1/0/00,547.2,Special Auto,SUV
2,MY31220,California,F,College,899704.02%,54230,112,1/0/00,537.6,Personal Auto,Two-Door Car
3,UH35128,Oregon,F,College,2580706.30%,71210,214,1/1/00,1027.2,Personal Auto,Luxury Car
4,WH52799,Arizona,F,College,380812.21%,94903,94,1/0/00,451.2,Corporate Auto,Two-Door Car

- Cleaning education

In [120]:
df2_renamed['education'].unique()

array(['Bachelor', 'Master', 'College', 'Doctor', 'Bachelors',
       'High School or Below'], dtype=object)

In [121]:
data_bachelor = {'Bachelors': 'Bachelor'}

df2_renamed['education'] = df2_renamed['education'].replace(data_bachelor)

- Cleaning the state

In [122]:
state_map = {'AZ': 'Arizona'}
df2['state'] = df2['state'].replace(state_map)

- *In Customer Lifetime Value, delete the `%` character*

In [123]:
data_customer_lifetime = pd.DataFrame({
    'customer_lifetime_value': ['100%', '200%', '300%']
})

df2_renamed['customer_lifetime_value'] = df2_renamed['customer_lifetime_value'].str.replace('%', '', regex=False).astype(float)


- *In vehicle class, "Sports Car", "Luxury SUV" and "Luxury Car" could be replaced by "Luxury"*

In [124]:
data_vehicle = {'vehicle-class': ["Sports Car", "Luxury SUV", "Luxury Car"],
                                  }

df2_renamed['vehicle_class'] = df2_renamed["vehicle_class"].replace(["Sports Car", "Luxury SUV", "Luxury Car"], "Luxury")

- Cleaning number of open complaints

In [ ]:
df2_renamed["number_of_open_complaints"].head

In [127]:
df2_renamed['number_of_open_complaints'].unique()
nb_open_complaints = {'1/0/00': '0','1/1/00': '1', '1/2/00': '2', '1/3/00': '3','1/4/00': '4','1/5/00': '5'}
df2_renamed['number_of_open_complaints']= df2_renamed['number_of_open_complaints'].replace(nb_open_complaints)

- Null Values in df2

In [ ]:
df2_renamed.isna().sum()

In [130]:
categorical_columns = ['gender']

for col in categorical_columns:
    df2_renamed[col] = df2_renamed[col].fillna(df2_renamed[col].mode()[0])

In [131]:
numerical_columns = ['customer_lifetime_value']

for col in numerical_columns:
    df2_renamed[col] = df2_renamed[col].fillna(df2_renamed[col].mean())

## df3 Cleaning

In [132]:
df3.head()
df3.info()
df3.isna().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7070 entries, 0 to 7069
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Customer                   7070 non-null   object
 1   State                      7070 non-null   object
 2   Customer Lifetime Value    7070 non-null   float64
 3   Education                  7070 non-null   object
 4   Gender                     7070 non-null   object
 5   Income                     7070 non-null   int64
 6   Monthly Premium Auto       7070 non-null   int64
 7   Number of Open Complaints  7070 non-null   int64
 8   Policy Type                7070 non-null   object
 9   Total Claim Amount         7070 non-null   float64
 10  Vehicle Class              7070 non-null   object
dtypes: float64(2), int64(3), object(6)
memory usage: 607.7+ KB

Customer                     0
State                        0
Customer Lifetime Value      0
Education                    0
Gender                       0
Income                       0
Monthly Premium Auto         0
Number of Open Complaints    0
Policy Type                  0
Total Claim Amount           0
Vehicle Class                0
dtype: int64

In [142]:
df3_renamed = df3.rename(columns={ col: col.replace(" ","_").lower() for col in df3.columns })

In [145]:
data_vehicle = {'vehicle-class': ["Sports Car", "Luxury SUV", "Luxury Car"],
                                  }

df3_renamed['vehicle_class'] = df3_renamed["vehicle_class"].replace(["Sports Car", "Luxury SUV", "Luxury Car"], "Luxury")

In [147]:
df3_renamed['vehicle_class'].unique()

array(['Two-Door Car', 'Four-Door Car', 'SUV', 'Luxury'], dtype=object)

In [148]:
data = {
    'gender': ['F', 'M', 'Femal', 'Male', 'female'],
    # Add other columns like 'State', 'Education', 'Customer Lifetime Value', 'Vehicle Class' for demonstration
}
df_gender = pd.DataFrame(data)

# Standardizing Gender values
df3_renamed['gender'] = df3_renamed['gender'].replace(['Femal', 'female'], 'F').replace(['Male'], 'M')

In [152]:
df1.head()
df1.isna().sum()

customer                     0
state                        0
gender                       0
education                    0
customer_lifetime_value      0
income                       0
monthly_premium_auto         0
number_of_open_complaints    0
policy_type                  0
vehicle_class                0
total_claim_amount           0
dtype: int64

In [154]:
df2_renamed.head()
df2_renamed.isna().sum()

customer                     0
state                        0
gender                       0
education                    0
customer_lifetime_value      0
income                       0
monthly_premium_auto         0
number_of_open_complaints    0
total_claim_amount           0
policy_type                  0
vehicle_class                0
dtype: int64

In [153]:
df3_renamed.head()
df3_renamed.isna().sum()

customer                     0
state                        0
customer_lifetime_value      0
education                    0
gender                       0
income                       0
monthly_premium_auto         0
number_of_open_complaints    0
policy_type                  0
total_claim_amount           0
vehicle_class                0
dtype: int64

## Concatenation of the three datasets

In [155]:
pd.concat([df1, df2_renamed, df3_renamed], axis = 0)

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,RB50392,Washington,F,Master,7.936903e+05,0.0,1000.0,0.0,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,6.979536e+05,0.0,94.0,0.0,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1.288743e+06,48767.0,108.0,0.0,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,7.645862e+05,0.0,106.0,0.0,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,5.363077e+05,36357.0,68.0,0.0,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...,...
7065,LA72316,California,M,Bachelor,2.340599e+04,71941.0,73.0,0,Personal Auto,Four-Door Car,198.234764
7066,PK87824,California,F,College,3.096511e+03,21604.0,79.0,0,Corporate Auto,Four-Door Car,379.200000
7067,TD14365,California,M,Bachelor,8.163890e+03,0.0,85.0,3,Corporate Auto,Four-Door Car,790.784983
7068,UP19263,California,M,College,7.524442e+03,21941.0,96.0,0,Personal Auto,Four-Door Car,691.200000
7069,Y167826,California,M,College,2.611837e+03,0.0,77.0,0,Corporate Auto,Two-Door Car,369.600000

In [ ]:
pd.concat([df_sales, df_sales_2], axis=0)

# Challenge 2: Structuring Data

In this challenge, we will continue to work with customer data from an insurance company, but we will use a dataset with more columns, called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing data cleaning, formatting, and structuring.

In [160]:
import pandas as pd 

url4 = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv'
df4 = pd.read_csv(url4)

In [169]:
df4.isna().sum()

unnamed:_0                       0
customer                         0
state                            0
customer_lifetime_value          0
response                         0
coverage                         0
education                        0
effective_to_date                0
employmentstatus                 0
gender                           0
income                           0
location_code                    0
marital_status                   0
monthly_premium_auto             0
months_since_last_claim          0
months_since_policy_inception    0
number_of_open_complaints        0
number_of_policies               0
policy_type                      0
policy                           0
renew_offer_type                 0
sales_channel                    0
total_claim_amount               0
vehicle_class                    0
vehicle_size                     0
vehicle_type                     0
month                            0
dtype: int64

1. You work at the marketing department and you want to know which sales channel brought the most sales in terms of total revenue. Using pivot, create a summary table showing the total revenue for each sales channel (branch, call center, web, and mail).
Round the total revenue to 2 decimal points.  Analyze the resulting table to draw insights.

In [173]:
pivot_table = df4.pivot_table( values='total_claim_amount', index='sales_channel', aggfunc='sum').round(2) 

# Afficher le tableau pivot
print(pivot_table)

               total_claim_amount
sales_channel
Agent                  1810226.82
Branch                 1301204.00
Call Center             926600.82
Web                     706600.04

2. Create a pivot table that shows the average customer lifetime value per gender and education level. Analyze the resulting table to draw insights.

In [179]:


pivot_table = df4.pivot_table(values='customer_lifetime_value', index='gender', columns = 'education', aggfunc='mean')
pivot_table

education,Bachelor,College,Doctor,High School or Below,Master
gender,,,,,
F,7874.269478,7748.823325,7328.508916,8675.220201,8157.053154
M,7703.601675,8052.459288,7415.333638,8149.687783,8168.832659

## Bonus

You work at the customer service department and you want to know which months had the highest number of complaints by policy type category. Create a summary table showing the number of complaints by policy type and month.
Show it in a long format table.

*In data analysis, a long format table is a way of structuring data in which each observation or measurement is stored in a separate row of the table. The key characteristic of a long format table is that each column represents a single variable, and each row represents a single observation of that variable.*

*More information about long and wide format tables here: https://www.statology.org/long-vs-wide-data/*

In [ ]:
# Your code goes here